<div class="m-4">
  <h1>PIPES</h1>

<label>Name: <input (input)="handleNameInput($event.target.value)" /></label>
<span class="ml-2">
  {{name | titlecase}}
</span>
<br>
<label>Date: <input type="date" (input)="handleDateInput($event.target.value)" /></label>
<span class="ml-2">
  {{date| date:'MMMM, d,y' }}
</span>
<br>
<label>Money: <input (input)="handleMoneyInput($event.target.value)" /></label>
<span class="ml-2">
  {{money | currency :'EUR'}}
</span>
<br>
<label>Height: <input (input)="handleHeightInput($event.target.value)" /></label>
<span class="ml-2">
  {{height | number:'1.2-4'}}
</span>
<br>
<div>
  Pipe for Json Objects, My Lesson: {{myLesson | json}}
</div>

<label>Mile (Custom Pipe): <input (input)="handleMilesInput($event.target.value)" /></label>
<span class="ml-2">
  Result: {{miles | convertMile : 'm'| number: '1.2-2' }}
</span>
</div>

 