<h1>Şifre Oluşturucu</h1>

<div>
  <label>Şifre Uzunluğu</label>
  <input type="text" />
</div>

<div>
  <label>Alfabeyi Kullan</label>
  <input type="checkbox" (change)="useAlphabet()" />
</div>

<div>
  <label>Sayilari Kullan</label>
  <input type="checkbox" (change)="useNumbers()" />
</div>

<div>
  <label>Sembolleri Kullan</label>
  <input type="checkbox" (change)="useSymbols()" />
</div>

<div>
  <button (click)="buttonClick()">Oluştur</button>
</div>

<div>
  <label>Şifreniz</label>
  <input [value]="password" />
</div>

<div style="background-color: antiquewhite">
  <p>pasword: {{ getPassword() + " - " + password }}</p>

  <p>getName(): {{ getName() }}</p>
</div>
